@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-ferif;
}

li, a {
    font-weight: 400;
    font-size: 16px;
    color:white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: #FF960E;
    border-bottom: 10px;
}


.container {
    padding: 7rem;
    background-image: url("bg.png");
    background-position: center;
    background-size: cover;
}

.container-graph {
    background-color: black;
}

.medium {
    display: flex;
    justify-content: space-around;
}

.graph {
    display: inline-block;
    background-color: #FCD500;
    width: 50%;
    margin: 1rem;

}

.graph #p {
    position: center;
}

.slogan {
    vertical-align: text-bottom;
    background-color: black;
    width: 30%;
}

.slogan h1 {
    font-size: 3rem;
    font-weight: 200;
}

.slogan p {
    font-weight: 200;
}

.navbar_links {
    list-style: none;
}

.navbar_links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar_links li a {
    transition: all 0.3s ease 0s;
}

.navbar_links li a:hover {
    color: #FCD500;
}

section#main {
    padding-top: 2rem;
}

section#graphs {
    padding-top: 1rem;






/*
section {
    padding: 1rem 0rem 0.5rem 0rem;
}
*/


